{% extends 'base.html.twig' %}

{% block title %}{{'registr.head_registration'|trans}}{% endblock %}

{% block body %}
  <div class="example-wrapper">
    <h1>{{'registr.head_registration'|trans}}</h1>

    {{ form(form) }}
  </div>
{% endblock %}
